{% extends 'layouts/layout.twig' %} {% block content %} {% for err in errors %}
<div class="alert alert-danger">
    {{ err }}
</div>
{% endfor %}
<form action="" method="post">
    <!-- First row -->
    {{ flash | raw}}
    <div class="form-row row-eq-spacing-sm">
        <div class="col-sm">
            <label for="first-name" class="required">First name</label>
            <input type="text" class="form-control {% if (model['fname'] == '') %} is-invalid {% endif %}" name="fname" placeholder="First name" required="required" value="{{ model['fname'] }}" />
        </div>
        <div class="col-sm">
            <label for="last-name">Last name</label>
            <input type="text" class="form-control {% if (model['lname'] == '') %} is-invalid {% endif %}" name="lname" placeholder="Last name" value="{{ model['lname'] }}" />
        </div>
        <div class="col-sm">
            <label for="last-name">Email</label>
            <input type="email" class="form-control {% if (model['email'] == '') %} is-invalid {% endif %}" name="email" placeholder="Email" value="{{ model['email'] }}" />
        </div>
        <div class="col-sm">
            <label for="last-name">Password</label>
            <input type="password" class="form-control {% if (model['pass'] == '') %} is-invalid {% endif %}" name="pass" placeholder="Password" value="{{ model['pass'] }}" />
        </div>
        <div class="col-sm">
            <label for="last-name">Password Confirm</label>
            <input type="password" class="form-control {% if (model['passc'] == '') %} is-invalid {% endif %}" name="passc" placeholder="Password Confirm" value="{{ model['passc'] }}" />
        </div>
    </div>

    <!-- Submit button container -->
    <div class="text-right">
        <!-- text-right = text-align: right -->
        <input class="btn btn-primary btn-block" type="submit" value="Submit" />
    </div>
</form>
{% endblock %}